/MEEM-CPT-Slant-Freq.pdf
/MEEM-CPT-Slant-Subdivisions.pdf
/MEEM-Comp-Distribution.pdf
/MEEM-CPT-Speed-Comparison.pdf
/MEEM-Low-Freq.pdf
/sample_plot.png
/MEEM-CPT-Time-Matrix-Comparison.pdf
/MEEM_vs_Capytaine_Nonslant_Validation.pdf
/Matching Diagram.pdf
/Multi MEEM Diagram.pdf
/asymptotic_b.png
/discretization_scheme_diagrams.pdf
