/MEEM-CPT-Time-Matrix-Comparison.pdf
/MEEM-Low-Freq.pdf
/MEEM-CPT-Slant-Freq.pdf
/Vary-Slopes.pdf
/MEEM-Comp-Distribution.pdf
/MEEM-CPT-Speed-Comparison.pdf
/Matching_Diagram.pdf
/Multi_MEEM_Diagram.pdf
/asymptotic_b.png
/discretization_scheme_diagrams.pdf
/A_sparsity_plot.pdf
/B_sparsity_plot.pdf
/C_sparsity_plot.pdf
/slant_figures.pdf
/Along-Outline.pdf
/Cross-Section-Potential-Slant.pdf
/MEEM_vs_Capytaine_Nonslant_Validation.pdf
/alpha-beta-explanation.pdf
/alpha-beta-to-trend.pdf
/convergence-fit-assessment.pdf
/graph_abstract.pdf
/graph_abstract.log
