name: CI Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # UPDATED STEP
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Installs the package in editable mode (-e) with "dev" extras from pyproject.toml
          pip install -e .[dev]

      - name: Run tests with coverage reports
        run: |
          pytest package/test/ --cov=package/src --cov-report=html:coverage/html --cov-report=xml:coverage/coverage.xml --junitxml=test-results/junit.xml

      - name: List Coverage Directory
        run: ls -R coverage/

      - name: List Test Results Directory
        run: ls -R test-results/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage/coverage.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

      - name: Publish test report to GitHub UI
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: "test-results/junit.xml"

      - name: Upload test and coverage artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-and-coverage-reports
          path: |
            test-results/junit.xml
            coverage/coverage.xml
            coverage/html/**
